/*-----------------------
Universal Styling
----------------------- */
@font-face{
  font-family:'Geosans';
  src: url('../fonts/geosanslight.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Geosans', sans-serif;
  text-align: center;
}

h1 {
    display: inline-block;
    color: #001C70;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

h2,
h3,
h4,
h5 {
  color: #001C70;
  font-size: 20px;
}

p {
  color: #001C70;
  padding: 5px;
  font-size: 12px;
}

/*-----------------------
header
----------------------- */


.container {
    max-width: 1025px;
}

.logo {
  float: left;
  display: inline-block;
  padding: 5px 10px;
}

.topnav,
.footer {
    float: center;
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    color: navy;
}

.topnav {
    padding: 20px 0 40px 0;
}

header,
footer {
  text-align: center;
  background: #fff5cc;
  padding: 8px 0 8px 0;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #F2F5FF;
  background: #001C70;
  padding: 5px;
  border-radius: 2px;
}

nav a:hover {
  color: #001C70;
  background: #9CD2FF;
}

nav a:active{
  color: #001C70;
  background: #9CD2FF;
  font-weight: bold;
}

/*==========================

  Home Page Styling

==========================*/
.header p {
  font-weight: bold;
  color: #9CD2FF;
  font-size: 15px;
  padding: 15px
}

.images {
  display: inline-block;
  height: 200px;
  padding: 10px;
  background-image: linear-gradient(#9CD2FF, #fff5cc);
}

.banner {
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.header h2 {
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: #001c70;
}

.schedule figcaption {
  font-size: 10px;
  color: #9CD2FF;
  font-weight: bold;
}

/*==========================

  About Page Styling

==========================*/

main {
    min-height: 80vh;
    margin-top: 50px;
}

.header-about {
  margin-bottom: 20px;
  width: 30%;
}

.container {
    max-width: 1025px;
    margin: 0 auto;
}

.text-patti, .patti {
    width: 45%;
    display: inline-block;
}

.patti img {
    width: 100%;
    float: right;
    margin: 5px;
    max-width: 480px;
    min-height: 225px;
    vertical-align: top;
}

.text-patti {
    vertical-align: top;
    padding: 45px;
    float: left;
}

.text-tara, .tara {
    width: 45%;
    display: inline-block;
}

.tara img {
    width: 100%;
    float: left;
    margin: 5px;
    max-width: 480px;
    min-height: 225px;
    vertical-align: top;
}

.text-tara {
    vertical-align: top;
    padding: 45px;
    float: right;
}

.npb {
    position: absolute;
    top: 15px;
    left: 0px;
    animation-name: move;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes move {
  from {
    transform: translatex(1200px);
  }
  to {
    transform: translatex(1250px);
  }
}

/*==========================

  Schedule Page Styling

==========================*/

.schedule-blurb {
  color: #001C70;
  max-width: 800px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

.schedule {
  padding: 15px;
}

.header-schedule {
  padding: 5px;
}

.class-descriptions1, .class-descriptions2, .class-descriptions3{
  width: 30%;
  display: inline-block;
  padding: 3px;
  height: 120px;
  vertical-align: top;
}

.classes {
  background-color: #9CD2FF;
  padding: 10px;
  border-radius: 4px;
}

.class-prep {
  font-weight: bold;
  padding: 10px;
}

.class-prep :hover {
  color: #001C70;
  background: #F2F5FF;
}

/*==========================

  Contact Page Styling

==========================*/

.three-students {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
}
