/*-----------------------
Universal Styling
----------------------- */
@font-face{
  font-family:'Geosans';
  src: url('../fonts/geosanslight.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:'Geosans', sans-serif;
  text-align: center;
}

h1 {
    display: inline-block;
    color: #001C70;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

h2,
h3,
h4,
h5 {
  color: #001C70;
  font-size: 20px;
}

p {
  color: #001C70;
  padding: 5px;
  font-size: 12px;
}

.container {
    max-width: 1025px;
    margin: 0 auto;
}

/*-----------------------
header
----------------------- */


.logo {
  float: left;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  z-index: 999;
}

.topnav,
.footer {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    color: #001C70;
}

.topnav {
     padding: 20px 0 40px 0;
     position: absolute;
     top: 30px;
     width: 100%;
  }

header {
  height: 115px;
}

header,
footer {
  text-align: center;
  background: #fff5cc;
  padding: 8px 0 8px 0;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #F2F5FF;
  background: #001C70;
  padding: 5px;
  border-radius: 2px;
}

nav a:hover {
  color: #001C70;
  background: #9CD2FF;
}

nav a:active{
  color: #001C70;
  background: #9CD2FF;
  font-weight: bold;
}

footer {
  margin: 10px;
}


/*==========================

  Home Page Styling

==========================*/
.header h2 {
  font-weight: bold;
  color: #9CD2FF;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  text-decoration: underline;
  text-decoration-color: #9CD2FF;
}

.header {
    outline: 3px solid #fff5cc;
    width: 700px;
    text-align: center;
    display: inline-block;
}

.images {
  display: inline-block;
  height: 200px;
  padding: 10px;
  background-image: linear-gradient(#9CD2FF, #fff5cc);
}

.banner {
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.schedule figcaption {
  font-size: 10px;
  color: #9CD2FF;
  font-weight: bold;
}

.class-rules {
  width: 300px;
  background: #fff5cc;
  margin: 10px;
  outline: 3px solid #9CD2FF;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
}

.class-rules h3 {
  text-decoration: underline;
  text-decoration-color: #9CD2FF;
}

/*==========================

  About Page Styling

==========================*/

main {
    margin-top: 50px;
}

.header-about {
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  display: inline-block;
}

.header-about h1 {
  text-decoration: underline;
}


.header-about p {
  font-size: 15px;
  font-weight: bold;
  width: 700px;
  background: #F2F5FF;
}


/* .text-patti, .patti {
    width: 45%;
    display: inline-block;
} */

/* .patti img {
    width: 100%;
    margin: 15px;
    max-width: 250px;
    min-height: 50vh;
    vertical-align: top;
    outline: 3px solid #F2F5FF;
} */

.patti img,
.tara img {
    width: 100%;
    /* margin: 15px; */
    /* min-height: 50vh; */
    vertical-align: top;
    object-fit: cover;
    /* position: relative; */
    /* top: 10px; */
    min-height: 350px;
}

.body .patti {
    margin: 0 15px 25px 0;
}

.body .tara {
    margin: 0 0 25px 15px;
}

/* .text-patti {
    vertical-align: top;
    padding: 10px;
    float: right;
} */

/*
.text-tara, .tara {
    width: 45%;
    display: inline-block;
} */

/* .tara img {
    width: 100%;
    margin: 15px;
    max-width: 250px;
    min-height: 50vh;
    vertical-align: top;
    outline: 3px solid #F2F5FF;
} */

/* .text-tara {
    vertical-align: top;
    padding: 10px;
    float: left;
} */

.text-patti,
.text-tara {
    background: #fff5cc;
    /* outline: 3px solid #9CD2FF; */
    min-height: 350px;
    box-sizing: border-box;
}

.text-patti h2,
.text-tara h3 {
  text-decoration: underline;
}

.body div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}


section.body {
    max-width: 700px;
    display: inline-block;
    margin: 0 auto;
    align-items: center;
}

.container1 p:first-of-type {
  font-weight: bold;
}

.npb {
    position: absolute;
    top: 15px;
    right: 0px;
    animation: move 5s infinite linear;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.about-images {
  display: inline-block;
  height: 200px;
  margin: 20px;
}

span.lb-caption {
    font-size: 15px !important;
    color: white;
    font-family:'Geosans';
}

/*==========================

  Schedule Page Styling

==========================*/

.schedule-blurb {
  color: #001C70;
  max-width: 800px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

.schedule {
  padding: 15px;
}

.header-schedule {
  padding: 5px;
}

.class-descriptions1, .class-descriptions2, .class-descriptions3{
  width: 30%;
  display: inline-block;
  padding: 3px;
  height: 190px;
  vertical-align: top;
}

.classes {
  background-color: #9CD2FF;
  padding: 10px;
  border-radius: 3px;
}

.class-prep {
  font-weight: bold;
  padding: 10px;
}

.class-prep :hover {
  color: #001C70;
  background: #F2F5FF;
}

.schedule {
  max-width: 1000px;
  margin: 10px;
  display: block;
  margin: 0 auto;
}

/*==========================

  Contact Page Styling

==========================*/

.header {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    color: #001C70;
}

.container2 h1 {
  text-decoration: underline;
}

.container2 ::selection {
  background: #F2F5FF;
}

.container2 p::selection {
  background: #F2F5FF;
}

.container2 p:first-of-type {
  font-weight: bold;
}

.container2 {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #001C70;
  font-family:'Geosans', sans-serif;
  font-size: 12px;
}

form {
    padding: 0px;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
    max-width: 1000px;
    border-radius: 4px;
    background: #9CD2FF;
}

.label_input_wrap {
  display: block;
}

.submit {
  background: #F2F5FF;
  color: #001C70;
  padding: 5px;
  display: inline;
}

.input-section{
  margin-bottom: 15px;
}


.label_input_wrap {
  font-weight: bold;
}


.three-students img {
  height: 140px;
  text-align: center;
  display: inline-block;
  transition: 2s;
}

.three-students img:hover {
  filter: grayscale(1);
  transition: 2s;
}
